@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  margin: 0;
  padding: 0;
  background-color: #E3E5F2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}
.holder {
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 2%;
  width: 80vw;
  height: 90vh;
  background-color: #EFFAFD;
  border-radius: 15px 15px 0 0;
}
